body {
  background-color: #000;
  height: 100%;
  margin: 0; }

html, body {
  min-height: 100%; }

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: inline-block; }

.quadrant {
  position: absolute; }
  .quadrant.A {
    width: 100px; }
  .quadrant.B {
    width: 70px; }
  .quadrant.C {
    width: 40px; }
  .quadrant.D {
    width: 120px; }
  .quadrant.drsMoveHandle {
    height: 20px;
    cursor: move; }

.dragresize {
  position: absolute;
  width: 5px;
  height: 5px;
  font-size: 1px;
  background: #EEE;
  border: 1px solid #333; }

.dragresize-tl {
  top: -8px;
  left: -8px;
  cursor: nw-resize; }

.dragresize-tm {
  top: -8px;
  left: 50%;
  margin-left: -4px;
  cursor: n-resize; }

.dragresize-tr {
  top: -8px;
  right: -8px;
  cursor: ne-resize; }

.dragresize-ml {
  top: 50%;
  margin-top: -4px;
  left: -8px;
  cursor: w-resize; }

.dragresize-mr {
  top: 50%;
  margin-top: -4px;
  right: -8px;
  cursor: e-resize; }

.dragresize-bl {
  bottom: -8px;
  left: -8px;
  cursor: sw-resize; }

.dragresize-bm {
  bottom: -8px;
  left: 50%;
  margin-left: -4px;
  cursor: s-resize; }

.dragresize-br {
  bottom: -8px;
  right: -8px;
  cursor: se-resize; }

.video-wrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
  width: 100%; }
  .video-wrapper.A {
    padding-bottom: 75%; }
  .video-wrapper.B {
    padding-bottom: 100%; }
  .video-wrapper.C, .video-wrapper.D {
    padding-bottom: 56.25%; }
  .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
